<Router AppAssembly="@typeof(MyTemplate.Components.App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MyTemplate.Components.Shared.MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MyTemplate.Components.Shared.MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
